/*!
 * Start Bootstrap - Full (https://startbootstrap.com/template-overviews/full)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full/blob/master/LICENSE)
 */

body {
  background: url('../img/logo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.content{
  margin-top: 140px;
}
#info{
  font-size: 30px;
  color:white;
}
#nomor{
  margin-top: 10px;
  font-size: 120px;
  color: white;
}
#button{
  margin-top: 80px;
}
.btn{
  width: 200px;
}
label{
  color:white;
}
